.mainButton {
    -fx-background-color: "transparent";
    -fx-border-color: "#2C7630";
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.mainButton:hover {
    -fx-background-color: #2C7630;
}